body {
  font: 0.9em/1.4em Arial, Helvetica;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
img {
  border: none;
  margin: 0.5em;
}
#contenedor {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#cabecera {
  clear: both;
  padding: 1em;
}
#menu {
  clear: both;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #004c99;
  background-image: url(../images/fondo_menu2.gif);
  margin-right: 1em;
}

#lateral {
  float: left;
  width: 20%;
}
#contenido {
  float: right;
  width: 78%;
}
#contenido #principal {
  float: left;
  width: 70%;
}
#contenido #secundario {
  float: right;
  width: 20%;
  padding: 0.5em;
}
#pie {
  clear: both;
  padding-bottom: 0.5em;
  padding-top: 1em;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}
#cabecera #logo {
  float: left;
}
#cabecera #buscador {
  float: right;
}
#menu ul#menu_principal li {
  display: inline;
  float: left;
}
#contenido #principal .articulo img {
  width: 100px;
  float: left;
}
#pie .enlaces {
  float: left;
}
#pie .copyright {
  float: right;
}

#noticias,
#publicidad,
#principal,
#secundario {
  margin: 0;
  padding: 0.5em;
}

.articulo {
  padding: 1em;
  margin: 1em;
}

#publicidad {
  padding-top: 1em;
  border: 1px dashed #cc6600;
  background-color: #fff6cd;
}

#pie {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#noticias {
  border: 1px solid #c5c5c5;
}
#secundario {
  border: 1px solid #cc6600;
}

#noticias,
#pie {
  background-color: #f8f8f8;
}

#secundario h2 {
  background-color: #db905c;
  padding: 0.2em;
}

#menu a {
  /*CÓMO CAMBIAR EL COLOR DE LA ETIQUETA A¿?*/
  color: #fff;
  font-size: 1.3em;
}

#cabecera h1 {
  background-image: url(../images/fondo_menu3.gif);
}

.articulo h2 {
  color: #cc6600;
  font-size: 1.6/1.2;
  margin-bottom: 0.3em;
}

#lateral {
  font-size: 0.9em;
}

.fecha {
  color: #999;
}

#noticias h3 a {
  color: #003366;
}

#publicidad {
  color: #555;
}

#publicidad h3 a {
  color: #cc6600;
}
